<div class="main_container">
    <form action="{{ path('add_agence') }}" method="post" class="form-horizontal">
        {{ form_errors(formInfos) }}
        <div class="form-group">
            {{ form_label(formInfos.name) }}
            {{ form_errors(formInfos.name) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.nameInCompany) }}
            {{ form_errors(formInfos.nameInCompany) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.nameInCompany) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.nameInOdigo) }}
            {{ form_errors(formInfos.nameInOdigo) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.nameInOdigo) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.nameInSalesforce) }}
            {{ form_errors(formInfos.nameInSalesforce) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.nameInSalesforce) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.nameInZendesk) }}
            {{ form_errors(formInfos.nameInZendesk) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.nameInZendesk) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 align_right">
                {{ form_row(formInfos.Envoyer) }}
            </div>
        </div>
        {{ form_row(formInfos.id) }}
    </form>
</div>
