<div class="main_container">
    <form action="{{ path('form_exec_edit_agence') }}" method="post" class="form-horizontal" id="form-edit">
        <input type="hidden" name="formAction" value="edit">
        {{ form_errors(formEdit) }}
        <div class="form-group">
            {{ form_label(formEdit.name) }}
            {{ form_errors(formEdit.name) }}
            <div class="col-sm-8">
                {{ form_widget(formEdit.name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formEdit.nameInCompany) }}
            {{ form_errors(formEdit.nameInCompany) }}
            <div class="col-sm-8">
                {{ form_widget(formEdit.nameInCompany) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formEdit.nameInOdigo) }}
            {{ form_errors(formEdit.nameInOdigo) }}
            <div class="col-sm-8">
                {{ form_widget(formEdit.nameInOdigo) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formEdit.nameInSalesforce) }}
            {{ form_errors(formEdit.nameInSalesforce) }}
            <div class="col-sm-8">
                {{ form_widget(formEdit.nameInSalesforce) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formEdit.nameInZendesk) }}
            {{ form_errors(formEdit.nameInZendesk) }}
            <div class="col-sm-8">
                {{ form_widget(formEdit.nameInZendesk) }}
            </div>
        </div>
        {{ form_row(formEdit.id) }}
</div></div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
    <button type="button" class="btn btn-success" onclick="submit();">Sauvegarder</button>
</div>


</form>
