{% extends '@Core/Default/items.view.html.twig' %}
    {% block title %} Liste des Agences {% endblock %}
    {% block breadcrumb %} Liste des Agences {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Agence</th>
        <th class="admin_cat_table_title">Dans Company</th>
        <th class="admin_cat_table_title">Dans Odigo</th>
        <th class="admin_cat_table_title">Dans Salesforce</th>
        <th class="admin_cat_table_title">Dans Zendesk</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.name }}</td>
                <td class="admin_cat_table_cell">{{ item.nameInCompany }}</td>
                <td class="admin_cat_table_cell">{{ item.nameInOdigo }}</td>
                <td class="admin_cat_table_cell">{{ item.nameInSalesforce }}</td>
                <td class="admin_cat_table_cell">{{ item.nameInZendesk }}</td>
                <td class="admin_cat_table_cell_action">
                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Editer {{ alert_text }}" onclick="ajaxEdit(this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                        <span class="glyphicon glyphicon-edit  btn-xs" aria-hidden="true"></span>
                    </button>
                    <a href="{{ path( remove_path , { 'itemDelete': item.id}) }}" title="Supprimer {{ alert_text }}" data-confirm="Etes-vous certain de vouloir supprimer {{ alert_text }} ?">
                        <button type="button" class="btn btn-default  btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove  btn-xs" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalAdd">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title font_exo_2" id="myModalLabel">Ajout d'une agence</h4>
                    </div>
                    <div class="modal-body">
                            {% embed "CoreBundle:Agence:add.body.html.twig"  %}
                            {% endembed %}
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEdit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title font_exo_2" id="myModalLabel">Edition d'une agence</h4>
                    </div>
                    <div class="modal-body">
                        {% embed "CoreBundle:Agence:edit.body.html.twig"  %}
                        {% endembed %}
                </div>

             </div>
        </div>
    {% endblock %}

    {% block javascripts %}
    <script>
        function ajaxEdit(editItem) {
            urlajax ="/ajax/agence/get/"+editItem;
            $.ajax({url:urlajax,success:function(result){
                var frm = $("#form-edit");
                var i;
                for (i in result) {
                    frm.find('[name="agence[' + i + ']"]').val(result[i]);
                }
			}});
        }
    </script>
   {% endblock %}