{% extends '@Core/Default/items.view.html.twig' %}
    {% block title %} Liste des Agences {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Agence</th>
        <th class="admin_cat_table_title">Nom dans Company</th>
        <th class="admin_cat_table_title">Nom dans Odigo</th>
        <th class="admin_cat_table_title">Nom dans Salesforce</th>
        <th class="admin_cat_table_title">Nom dans Zendesk</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.name }}</td>
                <td class="admin_cat_table_cell">{{ item.nameInCompany }}</td>
                <td class="admin_cat_table_cell">{{ item.nameInOdigo }}</td>
                <td class="admin_cat_table_cell">{{ item.nameInSalesforce }}</td>
                <td class="admin_cat_table_cell">{{ item.nameInZendesk }}</td>
                <td class="admin_cat_table_cell_action">
                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" data-toggle="modal" data-target=".bs-example-modal-lg" id="editForm" name="{{ item.id }}">
                        <span class="glyphicon glyphicon-edit  btn-xs" aria-hidden="true"></span>
                    </button>
                    <a href="{{ path( remove_path , { 'itemDelete': item.id}) }}"data-confirm="Etes-vous certain de vouloir supprimer {{ alert_text }} ?">
                        <button type="button" class="btn btn-default  btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove  btn-xs" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalId">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    {% embed "CoreBundle:Agence:body.html.twig"  %}
                    {% endembed %}
                </div>
            </div>
        </div>
    {% endblock %}

