<div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEdit">
    <form action="{{ path('form_exec_edit_service') }}" method="post" class="form-horizontal" id="form-edit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="modal-header modal-lg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font_exo_2" id="myModalLabel">Edition d'un service</h4>
                </div>
                <div class="modal-body modal-lg">
                    <div class="main_container col-sm-12 text-center show" id="loading">
                        <br><br><br>
                        <button type="button" class="btn btn-lg btn-warning">
                            <span class="glyphicon glyphicon-refresh spinning"></span>
                            Loading...</button>
                        <br><br><br>
                    </div>
                    <div class="container-fluid marginNegABitABitLeft" xmlns="http://www.w3.org/1999/html" id="mainEditForm">
                        <input type="hidden" name="formAction" value="edit">
                        {{ form_row(formEdit.id) }}
                        {{ form_widget(formEdit._token) }}
                        {{ form_errors(formEdit) }}
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_label(formEdit.name) }}
                                {{ form_errors(formEdit.name) }}
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.shortName) }}
                                {{ form_errors(formEdit.shortName) }}
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.shortName) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.parentAgence) }}
                                {{ form_errors(formEdit.parentAgence) }}
                                <div class="col-sm-7">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.parentAgence) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.parentService) }}
                                {{ form_errors(formEdit.parentService) }}
                                <div class="col-sm-7">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.parentService) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInCompany) }}
                                {{ form_errors(formEdit.nameInCompany) }}
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.nameInCompany) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInOdigo) }}
                                {{ form_errors(formEdit.nameInOdigo) }}
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.nameInOdigo) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInSalesforce) }}
                                {{ form_errors(formEdit.nameInSalesforce) }}
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-sellsy fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.nameInSalesforce) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInZendesk) }}
                                {{ form_errors(formEdit.nameInZendesk) }}
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-cogs fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.nameInZendesk) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInActiveDirectory) }}
                                {{ form_errors(formEdit.nameInActiveDirectory) }}
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-windows fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.nameInActiveDirectory) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="service_responsable" class="col-sm-5 control-label align_righ font_exo_2">Responsable</label>
                                <div class="col-sm-7">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <select id="formEdit_service_responsable" name="service_responsable[]" class="form-control font_exo_2 input-md select2-single">
                                            {% for key,value in utilisateursList %}
                                                <option value="{{ value }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="service_managers" class="col-sm-5 control-label align_righ font_exo_2">Managers</label>
                                <div class="col-sm-7">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                        <select id="formEdit_service_managers" name="service_managers[]" class="form-control font_exo_2 input-sm select2-single" multiple>
                                            {% for key,value in utilisateursList %}
                                                <option value="{{ value }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 font_exo_2">
                            <ul class="nav nav-pills">
                                <li role="presentation" id="windowsToggle" onclick="ajaxGenerateWindows();">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Windows
                                    </a>
                                </li>
                                <li role="presentation" id="salesforceToggle" onclick="ajaxGenerateSalesforce();">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Salesf.
                                    </a>
                                </li>
                                <li role="presentation" id="aramisToggle" onclick="ajaxGenerateAramis();">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Aramis
                                    </a>
                                </li>
                            </ul>
                            <div class="container-fluid actionPartFonction">
                                <div class="container hide col-sm-4 text-center" id="loadingRight">
                                    <button type="button" class="btn btn-lg btn-warning">
                                        <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
                                    </button>
                                </div>
                                <div class="hide" id="createActionSalesforcePart">
                                    <div class="hide" id="midSFEditForm">
                                    </div>
                                    <div class="hide" id="bottomSFEditForm">
                                    </div>
                                </div>
                                <div class="hide" id="createActionWindowsPart">
                                    <div class="hide" id="midADEditForm">
                                    </div>
                                    <div class="hide" id="bottomADEditForm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-success" name="sendAction" value="Sauvegarder">
                </div>

            </div>
        </div>
    </form>
</div>