<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('form_exec_edit_agence') }}" method="post" class="form-horizontal" id="form-edit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font_exo_2" id="myModalLabel">Edition d'une agence</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_label(formEdit.name) }}
                        {{ form_errors(formEdit.name) }}
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                {{ form_widget(formEdit.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(formEdit.nameInCompany) }}
                        {{ form_errors(formEdit.nameInCompany) }}
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                {{ form_widget(formEdit.nameInCompany) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(formEdit.nameInOdigo) }}
                        {{ form_errors(formEdit.nameInOdigo) }}
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                                {{ form_widget(formEdit.nameInOdigo) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(formEdit.nameInSalesforce) }}
                        {{ form_errors(formEdit.nameInSalesforce) }}
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-sellsy fa" aria-hidden="true"></i></span>
                                {{ form_widget(formEdit.nameInSalesforce) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(formEdit.nameInZendesk) }}
                        {{ form_errors(formEdit.nameInZendesk) }}
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cogs fa" aria-hidden="true"></i></span>
                                {{ form_widget(formEdit.nameInZendesk) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(formEdit.nameInActiveDirectory) }}
                        {{ form_errors(formEdit.nameInActiveDirectory) }}
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-windows fa" aria-hidden="true"></i></span>
                                {{ form_widget(formEdit.nameInActiveDirectory) }}
                            </div>
                        </div>
                    </div>
                        {{ form_row(formEdit.id) }}
                        {{ form_rest(formEdit) }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-success" name="sendAction" value="Sauvegarder">
                </div>
            </form>
        </div>
    </div>
</div>