{% extends '::base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/morris/morris.css') }}" xmlns="http://www.w3.org/1999/html">
        <link rel="stylesheet" href="{{ asset('css/fullcalendar/fullcalendar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jvectormap/jquery-jvectormap-1.2.2.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app/user/launcher.css') }}">
    {% endblock %}
    {% block title %} Accueil - Lanceur d'Applications{% endblock %}
    {% block title2 %} Accueil {% endblock %}
    {% block title3 %} Lanceur d'Applications {% endblock %}
    {% block breadcrumb %} Lanceur d'Applications {% endblock %}
    {% block body %}
        {% for group in appsTable %}
            <div class="col-sm-12">
                <div class="box box-primary">
                    <section class="content">
                        <div class="row">
                            <div class="box-header with-border" style="margin-bottom: 30px">
                                <i class="fa fa-cloud"></i>
                                <h3 class="box-title font_exo_2">{{ group.groupName }}</h3>
                                <div class="box-tools pull-right">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box-body">
                                <div class="row">
                                {% for app in group.apps %}
                                    <div class="col-sm-{{ app.tilesLenght }}">
                                        <a href="{{ app.urlLink }}" target="_blank">
                                            <div class="tile {{ app.tilesColor }}">
                                                <div><img class="launcher_img" src="{{ asset('images/' ~ app.icon) }}"></div>
                                                <h{{ app.titleHeight }} class="title">{{ app.appName }}</h{{ app.titleHeight }}>
                                                <p>{{ app.appDescription }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/user/launcher.js') }}"></script>
    {% endblock %}

