<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Aramis Identity Access Management</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            <ul class="nav navbar-nav">
                {% if is_granted("ROLE_ADMIN") %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidats <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('add_candidat') }}">Ajouter un Candidat</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path( 'liste_des_candidats' , { 'isArchived' : '0'}) }}">Accès aux Candidats</a></li>
                        <li><a href="{{ path( 'liste_des_candidats_archives' , { 'isArchived' : '1'}) }}">Accès aux Archives</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilisateurs <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li><a href="{{ path('liste_des_utilisateurs') }}">Utilisateurs Actifs</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li><a href="#">Atilisateurs Inactifs</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Divers <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('add_fonction') }}">Ajouter une Fonction</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li><a href="{{ path('add_agence') }}">Ajouter une Agence</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li><a href="{{ path('add_service') }}">Ajouter un Service</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li><a href="{{ path('liste_des_agences') }}">Liste des Agences</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li><a href="{{ path('liste_des_services') }}">Liste des Services</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN") %}
                                <li><a href="{{ path('liste_des_fonctions') }}">Liste des Fonctions</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {#{% endif %}#}
            <ul class="nav navbar-nav navbar-right">
                <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="#">Déconnexion</a>
                {% else %}
                    <a href="#">Connexion</a>
                {% endif %}</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

