<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" id="global_filter" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <ul class="sidebar-menu">
                {% if is_granted("ROLE_USER") %}
                    <li class="header font_exo_2 {% if panel != 'user' %} hide {% endif %}" id="user_panel">
                        <div class="btn-xs pull-right" onclick="switchPanelToAdmin();" style="cursor: pointer;">
                            <i class="fa fa-retweet pull-right text-green"></i>
                        </div>
                        <span>SELF SERVICE PANEL</span>
                    </li>
                    <li class="{% if panel != 'user' %} hide {% endif %} {% if 'user_launcher' in app.request.get('_route') == true %} active {%  endif %}" id="Applicatifs">
                        <a href="#">
                            <i class="fa fa-cloud"></i> <span class="font_exo_2">Accès Applications</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="font_exo_2{% if 'user_launcher' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('user_launcher') }}"><i class="fa fa-cloud"></i> Lanceur d'Applications</a></li>
                        </ul>
                    </li>
                    <li class="treeview {% if panel != 'user' %} hide {% endif %} {% if 'profile' in app.request.get('_route') == true %} active {%  endif %}" id="Profile">
                        <a href="#">
                            <i class="fa fa-user"></i> <span class="font_exo_2">Mon Profile</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="font_exo_2{% if 'user_profile_show' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('user_profile_show' , { 'panel' : 'user'}) }}"><i class="fa fa-user"></i> Voir Mon Profile</a></li>
                        </ul>
                    </li>
                    {% if manager == 1 %}
                        <li class="treeview {% if panel != 'user' %} hide {% endif %} {% if 'equipe' in app.request.get('_route') == true %} active {%  endif %}" id="Equipe">
                            <a href="#">
                                <i class="fa fa-users"></i> <span class="font_exo_2">Mon Equipe</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="font_exo_2 {% if 'user_equipe_show' in app.request.get('_route') == true and app.request.attributes.get('isArchived') == 0 %} active {%  endif %}"><a href="{{ path('user_equipe_show', { 'isArchived': 0 }) }}"><i class="fa fa-users"></i> Equipe en place</a></li>
                                <li class="font_exo_2 {% if 'user_equipe_show' in app.request.get('_route') == true and app.request.attributes.get('isArchived') == 1 %} active {%  endif %}"><a href="{{ path('user_equipe_show', { 'isArchived': 1 }) }}"><i class="fa fa-users"></i> Equipe - archives</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if manager == 1 %}
                        <li class="treeview {% if panel != 'user' %} hide {% endif %} {% if 'recrutement' in app.request.get('_route') == true %} active {%  endif %}" id="Recrutement">
                            <a href="#">
                                <i class="fa fa-user-plus"></i> <span class="font_exo_2">Mes Recrutements</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="font_exo_2 {% if 'user_recrutement_show' in app.request.get('_route') == true and app.request.attributes.get('isTransformed') == 0 %} active {%  endif %}"><a href="{{ path('user_recrutement_show', { 'isTransformed': 0 }) }}"><i class="fa fa-user-plus"></i> Recrutements en Cours</a></li>
                                <li class="font_exo_2 {% if 'user_recrutement_show' in app.request.get('_route') == true and app.request.attributes.get('isTransformed') == 2 %} active {%  endif %}"><a href="{{ path('user_recrutement_show', { 'isTransformed': 2 }) }}"><i class="fa fa-user-plus"></i> Recrutements Terminés</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <li class="header font_exo_2 {% if panel != 'admin' %} hide {% endif %}" id="admin_panel">
                        <div class="btn-xs pull-right" onclick="switchPanelToUser();" style="cursor: pointer;">
                            <i class="fa fa-retweet pull-right text-green"></i>
                        </div>
                        <span>ADMINISTRATION PANEL</span>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="treeview {% if panel != 'admin' %} hide {% endif %} {% if 'dashboard' in app.request.get('_route') == true %} active {%  endif %}" id="Dashboards">
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span class="font_exo_2">Dashboard</span>
                            {% if remaining_gmail_licenses <= 5 or remaining_salesforce_licenses <= 3 %}
                                <i class="fa fa fa-warning text-orange pull-right"></i>
                            {% else %}<i class="fa fa fa-angle-left pull-right"></i>
                            {% endif %}
                        </a>
                        <ul class="treeview-menu">
                            <li class="font_exo_2 {% if 'admin_main_dashboard' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path( 'admin_main_dashboard' ) }}"><i class="fa fa-user"></i> Main Dashboard</a></li>
                            <li class="font_exo_2 {% if 'phone_dashboard' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path( 'phone_dashboard' ) }}"><i class="fa fa-phone"></i> Récap. Téléphonie</a></li>
                            <li class="font_exo_2 {% if 'licences_dashboard' in app.request.get('_route') == true %} active {%  endif %}">
                                <a href="{{ path( 'licences_dashboard' ) }}"><i class="fa fa-dollar"></i> Récap. Licences
                                    {% if remaining_gmail_licenses <= 5 or remaining_salesforce_licenses <= 3 %}
                                        <i class="fa fa fa-warning text-orange pull-right"></i>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <li class="treeview {% if panel != 'admin' %} hide {% endif %} {% if 'candidat' in app.request.get('_route') == true %} active {%  endif %}" id="Candidats">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span class="font_exo_2">Candidats</span>
                            <i class="fa fa-angle-left pull-right"></i>
                            <small class="label pull-right bg-{{ candidat_color }}">{{ nb_candidat }}</small>
                        </a>
                        <ul class="treeview-menu">
                            <li class="font_exo_2 {% if 'liste_des_candidats' in app.request.get('_route') == true and app.request.query.get("isArchived") == 0 %} active {%  endif %}">
                                <a href="{{ path( 'liste_des_candidats' , { 'isArchived' : '0'}) }}"><i class="fa fa-user"></i>
                                    <span>Accès aux Candidats</span>
                                    <small class="label pull-right bg-{{ candidat_color }}">{{ nb_candidat }}</small>
                                </a>

                            </li>
                            <li class="font_exo_2 {% if 'liste_des_candidats' in app.request.get('_route') == true and app.request.query.get("isArchived") == 1 %} active {%  endif %}"><a href="{{ path( 'liste_des_candidats' , { 'isArchived' : '1'}) }}"><i class="fa fa-ban"></i> Candidats Archivés</a></li>
                            <li class="font_exo_2 {% if 'liste_des_candidats' in app.request.get('_route') == true and app.request.query.get("isArchived") == 2%} active {%  endif %}"><a href="{{ path( 'liste_des_candidats' , { 'isArchived' : '2'}) }}"><i class="fa fa-circle-o"></i> Candidats Transformés</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="treeview  {% if panel != 'admin' %} hide {% endif %}{% if 'utilisateur' in app.request.get('_route') == true %} active {%  endif %}" id="Utilisateurs">
                        <a href="#">
                            <i class="fa fa-user"></i> <span class="font_exo_2">Utilisateurs</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="font_exo_2 {% if 'liste_des_utilisateurs' in app.request.get('_route') == true and app.request.query.get("isArchived") == 0 %} active {%  endif %}"><a href="{{ path( 'liste_des_utilisateurs' , { 'isArchived' : '0'}) }}"><i class="fa fa-user"></i> Utilisateurs Actifs</a></li>
                            <li class="font_exo_2 {% if 'liste_des_utilisateurs' in app.request.get('_route') == true and app.request.query.get("isArchived") == 1 %} active {%  endif %}"><a href="{{ path( 'liste_des_utilisateurs' , { 'isArchived' : '1'}) }}"><i class="fa fa-ban"></i> Utilisateurs Archivés</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <li class="treeview {% if panel != 'admin' %} hide {% endif %} {% if app.request.get('_route') in ['form_exec_add_service', 'form_exec_add_fonction', 'form_exec_add_agence', 'form_exec_add_entiteholding', 'form_exec_edit_service', 'form_exec_edit_fonction', 'form_exec_edit_agence', 'form_exec_edit_entiteholding', 'liste_des_agences', 'liste_des_services', 'liste_des_fonctions', 'liste_des_entites_holding'] == true %} active {%  endif %}" id="Divers">
                        <a href="#">
                            <i class="fa fa-home"></i> <span class="font_exo_2">Divers</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'liste_des_entites_holding' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('liste_des_entites_holding') }}"><i class="fa fa-home"></i> Liste des Entités</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'liste_des_agences' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('liste_des_agences') }}"><i class="fa fa-home"></i> Liste des Agences</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'liste_des_services' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('liste_des_services') }}"><i class="fa fa-life-ring"></i> Liste des Services</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN") %}
                                <li class="font_exo_2 {% if 'liste_des_fonctions' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('liste_des_fonctions') }}"><i class="fa fa-puzzle-piece"></i> Liste des Fonctions</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="treeview {% if panel != 'admin' %} hide {% endif %} {% if 'orange' in app.request.get('_route') == true %} active {%  endif %} {% if 'odigo' in app.request.get('_route') == true %} active {%  endif %}" id="Odigo">
                        <a href="#">
                            <i class="fa fa-phone"></i> <span class="font_exo_2">Odigo</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'odigo_tel_liste' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('odigo_tel_liste') }}"><i class="fa fa-phone"></i> Numéros Odigo</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'orange_tel_liste' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('orange_tel_liste') }}"><i class="fa fa-phone"></i> Numéros Orange</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="treeview {% if panel != 'admin' %} hide {% endif %} {% if 'salesforce' in app.request.get('_route') == true %} active {%  endif %}" id="Salesforce">
                        <a href="#">
                            <i class="fa fa-sellsy"></i> <span class="font_exo_2">Salesforce</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'salesforce_profile_liste' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('salesforce_profile_liste') }}"><i class="fa fa-sellsy"></i> Profils Salesforce</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'salesforce_groupe_liste' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('salesforce_groupe_liste') }}"><i class="fa fa-sellsy"></i> Groupes Salesforce</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'salesforce_territory_liste' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('salesforce_territory_liste') }}"><i class="fa fa-sellsy"></i> Territoires Salesforce</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="treeview {% if panel != 'admin' %} hide {% endif %} {% if 'active_directory' in app.request.get('_route') == true %} active {%  endif %}" id="ActiveDirectory">
                        <a href="#">
                            <i class="fa fa-windows"></i> <span class="font_exo_2">Active Directory</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'active_directory_groupe_liste' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('active_directory_groupe_liste') }}"><i class="fa fa-windows"></i> Groupes Active Directory</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'active_directory_organisation_unit_liste' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('active_directory_organisation_unit_liste') }}"><i class="fa fa-windows"></i> Unités d'Organiation AD</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="treeview {% if panel != 'admin' %} hide {% endif %} {% if 'google' in app.request.get('_route') == true %} active {%  endif %}" id="Google">
                        <a href="#">
                            <i class="fa fa-google"></i> <span class="font_exo_2">Google</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="font_exo_2 {% if 'google_groupe_liste' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('google_groupe_liste') }}"><i class="fa fa-google"></i> Groupes Google</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="header font_exo_2 {% if panel != 'admin' %} hide {% endif %}" id="tools_panel">
                    <span>TOOLS PANEL</span>
                </li>
                <li class="treeview {% if panel != 'admin' %} hide {% endif %} {% if 'launcher' in app.request.get('_route') == true %} active {%  endif %}" id="UserLauncher">
                    <a href="#">
                        <i class="fa fa-gears"></i> <span class="font_exo_2">User Launcher</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="font_exo_2 {% if 'admin_tools_launcher_screen_management' in app.request.get('_route') == true %} active {%  endif %}"><a href="{{ path('admin_tools_launcher_screen_management') }}"><i class="fa fa-gear"></i> Screen Management</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </section>
</aside>