<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" id="global_filter" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="header font_exo_2">NAVIGATION PRINCIPALE</li>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="treeview {% if 'dashboard' in app.request.get('_route') == true %} active {%  endif %}" id="Utilisateurs">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span class="font_exo_2">Dashboard</span>
                        {% if remaining_gmail_licenses <= 5 or remaining_salesforce_licenses <= 3 %}
                            <i class="fa fa fa-warning text-orange pull-right"></i>
                        {% else %}<i class="fa fa fa-angle-left pull-right"></i>
                        {% endif %}
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path( 'homepage_dashboard' ) }}"><i class="fa fa-user"></i> Main Dashboard</a></li>
                        <li><a href="{{ path( 'phone_dashboard' ) }}"><i class="fa fa-phone"></i> Récap. Téléphonie</a></li>
                        <li>
                            <a href="{{ path( 'licences_dashboard' ) }}"><i class="fa fa-dollar"></i> Récap. Licences
                                {% if remaining_gmail_licenses <= 5 or remaining_salesforce_licenses <= 3 %}
                                <i class="fa fa fa-warning text-orange pull-right"></i>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="treeview {% if 'candidat' in app.request.get('_route') == true %} active {%  endif %}" id="Candidats">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span class="font_exo_2">Candidats</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <small class="label pull-right bg-{{ candidat_color }}">{{ nb_candidat }}</small>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path( 'liste_des_candidats' , { 'isArchived' : '0'}) }}"><i class="fa fa-user"></i>
                                <span>Accès aux Candidats</span>
                                <small class="label pull-right bg-{{ candidat_color }}">{{ nb_candidat }}</small>
                            </a>

                        </li>
                        <li><a href="{{ path( 'liste_des_candidats' , { 'isArchived' : '1'}) }}"><i class="fa fa-ban"></i> Candidats Archivés</a></li>
                        <li><a href="{{ path( 'liste_des_candidats' , { 'isArchived' : '2'}) }}"><i class="fa fa-circle-o"></i> Candidats Transformés</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="treeview {% if 'utilisateur' in app.request.get('_route') == true %} active {%  endif %}" id="Utilisateurs">
                    <a href="#">
                        <i class="fa fa-user"></i> <span class="font_exo_2">Utilisateurs</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path( 'liste_des_utilisateurs' , { 'isArchived' : '0'}) }}"><i class="fa fa-user"></i> Utilisateurs Actifs</a></li>
                        <li><a href="{{ path( 'liste_des_utilisateurs' , { 'isArchived' : '1'}) }}"><i class="fa fa-ban"></i> Utilisateurs Archivés</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="treeview {% if app.request.get('_route') in ['form_exec_add_service', 'form_exec_add_fonction', 'form_exec_add_agence', 'form_exec_add_entiteholding', 'form_exec_edit_service', 'form_exec_edit_fonction', 'form_exec_edit_agence', 'form_exec_edit_entiteholding', 'liste_des_agences', 'liste_des_services', 'liste_des_fonctions', 'liste_des_entites_holding'] == true %} active {%  endif %}" id="Divers">
                    <a href="#">
                        <i class="fa fa-home"></i> <span class="font_exo_2">Divers</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('liste_des_entites_holding') }}"><i class="fa fa-home mini_logo_imag"></i> Liste des Entités</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('liste_des_agences') }}"><i class="fa fa-home mini_logo_imag"></i> Liste des Agences</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('liste_des_services') }}"><i class="fa fa-life-ring mini_logo_imag"></i> Liste des Services</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('liste_des_fonctions') }}"><i class="fa fa-puzzle-piece mini_logo_imag"></i> Liste des Fonctions</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="treeview {% if 'orange' in app.request.get('_route') == true %} active {%  endif %} {% if 'odigo' in app.request.get('_route') == true %} active {%  endif %}" id="Odigo">
                    <a href="#">
                        <i class="fa fa-phone"></i> <span class="font_exo_2">Odigo</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('odigo_tel_liste') }}"><i class="fa fa-phone mini_logo_imag"></i> Numéros Odigo</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('orange_tel_liste') }}"><i class="fa fa-phone mini_logo_imag"></i> Numéros Orange</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="treeview {% if 'salesforce' in app.request.get('_route') == true %} active {%  endif %}" id="Salesforce">
                    <a href="#">
                        <i class="fa fa-sellsy"></i> <span class="font_exo_2">Salesforce</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('salesforce_profile_liste') }}"><i class="fa fa-sellsy"></i> Profils Salesforce</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('salesforce_groupe_liste') }}"><i class="fa fa-sellsy"></i> Groupes Salesforce</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('salesforce_territory_liste') }}"><i class="fa fa-sellsy"></i> Territoires Salesforce</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="treeview {% if 'active_directory' in app.request.get('_route') == true %} active {%  endif %}" id="ActiveDirectory">
                    <a href="#">
                        <i class="fa fa-windows"></i> <span class="font_exo_2">Active Directory</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('active_directory_groupe_liste') }}"><i class="fa fa-windows mini_logo_imag"></i> Groupes Active Directory</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('active_directory_organisation_unit_liste') }}"><i class="fa fa-windows mini_logo_imag"></i> Unités d'Organiation AD</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="treeview {% if 'google' in app.request.get('_route') == true %} active {%  endif %}" id="Google">
                    <a href="#">
                        <i class="fa fa-google"></i> <span class="font_exo_2">Google</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="font_exo_2"><a href="{{ path('google_groupe_liste') }}"><i class="fa fa-google"></i> Groupes Google</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </section>
</aside>