{% extends '::base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/morris/morris.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fullcalendar/fullcalendar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jvectormap/jquery-jvectormap-1.2.2.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app/user/launcher.css') }}">
    {% endblock %}
    {% block title %} Accueil - Lanceur d'Applications{% endblock %}
    {% block title2 %} Accueil {% endblock %}
    {% block title3 %} Lanceur d'Applications {% endblock %}
    {% block breadcrumb %} Lanceur d'Applications {% endblock %}
    {% block body %}
        <div class="col-sm-12">
            <div class="box box-primary">
                <section class="content">
                    <div class="row">
                        <div class="box-header with-border" style="margin-bottom: 30px">
                            <i class="fa fa-cloud"></i>
                            <h3 class="box-title font_exo_2">Applications Généralistes</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="https://gmail.com" target="_blank">
                                        <div class="tile purple">
                                            <div><img class="launcher_img" src="{{ asset('images/gmail-icon.svg') }}"></div>
                                            <h3 class="title">Gmail</h3>
                                            <p>Accèder à la messagerie Gmail.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="https://drive.google.com" target="_blank">
                                        <div class="tile red">
                                            <div><img class="launcher_img" src="{{ asset('images/google-drive.svg') }}"></div>
                                            <h3 class="title">Google Drive</h3>
                                            <p>Accèder à vos fichiers n'importe où.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="https://hangouts.google.com/" target="_blank">
                                        <div class="tile blue">
                                            <div><img class="launcher_img" src="{{ asset('images/google-hangouts.svg') }}"></div>
                                            <h3 class="title">Hangout</h3>
                                            <p>Restez en Contact.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="https://yammer.com" target="_blank">
                                        <div class="tile green">
                                            <div><img class="launcher_img" src="{{ asset('images/yammer.png') }}"></div>
                                            <h3 class="title">Yammer</h3>
                                            <p>Restez Informé.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="box box-primary">
                <section class="content">
                    <div class="row">
                        <div class="box-header with-border" style="margin-bottom: 30px">
                            <i class="fa fa-cloud"></i>
                            <h3 class="box-title font_exo_2">Applications Métier</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="https://login.salesforce.com" target="_blank">
                                        <div class="tile red">
                                            <div><img class="launcher_img" src="{{ asset('images/salesforce-2.svg') }}"></div>
                                            <h3 class="title">Salesforce</h3>
                                            <p>Le CRM pour tous nos clients.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="https://lizdrive.fr/" target="_blank">
                                        <div class="tile purple">
                                            <div><img class="launcher_img" src="{{ asset('images/caisse-epargne-logo.png') }}"></div>
                                            <h3 class="title">Lizdrive</h3>
                                            <p>Financement.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="https://robusto.aramisauto.com" target="_blank">
                                        <div class="tile green">
                                            <div><img class="launcher_img" src="{{ asset('images/logo-aa.png') }}"></div>
                                            <h3 class="title">Robusto</h3>
                                            <p>Commandes.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="box box-primary">
                <section class="content">
                    <div class="row">
                        <div class="box-header with-border" style="margin-bottom: 30px">
                            <i class="fa fa-cloud"></i>
                            <h3 class="box-title font_exo_2">Applications Support (IT / RH / Compta)</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href="https://support.aramisauto.com" target="_blank">
                                        <div class="tile orange">
                                            <div><img class="launcher_img" src="{{ asset('images/zendesk.svg') }}"></div>
                                            <h3 class="title">Zendesk</h3>
                                            <p>Accès au Support.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="https://client.meilleuregestion.com/connexion/" target="_blank">
                                        <div class="tile green">
                                            <div><img class="launcher_img" src="{{ asset('images/logo-mg.png') }}"></div>
                                            <h4 class="title">Meilleur Gestion</h4>
                                            <p>Congés / Paie.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="https://www.concursolutions.com/?lang=fr" target="_blank">
                                        <div class="tile red    ">
                                            <div><img class="launcher_img" src="{{ asset('images/Concur_Logo_VT_Color_500px.png') }}"></div>
                                            <h3 class="title">Concur</h3>
                                            <p>Notes de Frais.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/user/launcher.js') }}"></script>
    {% endblock %}

