<div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEdit">
    <form action="{{ path( 'form_exec_edit_utilisateur' ) }}" method="post" class="form-horizontal" id="form-edit" name="form-edit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="modal-header modal-lg">
                    <button type="button" class="close" data-dismiss="modal" onclick="resetEditItem();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font_exo_2" id="myModalLabel">{% if is_archived != "2" %}Edition d'un utilisateur{% endif %}{% if is_archived == "2" %}Voir un Utilisateur{% endif %}</h4>
                </div>
                <div class="modal-body modal-lg">
                    <div class="main_container col-sm-12 text-center show" id="loadingMain">
                        <br><br><br>
                        <button type="button" class="btn btn-lg btn-warning">
                            <span class="glyphicon glyphicon-refresh spinning"></span>
                            Loading...</button>
                        <br><br><br>
                    </div>
                    <div class="container-fluid marginNegABitABitLeft hide" xmlns="http://www.w3.org/1999/html" id="mainEditForm">
                        <input type="hidden" name="formAction" value="edit">
                        {{ form_errors(formEdit) }}
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_label(formEdit.civilite) }}
                                {{ form_errors(formEdit.civilite) }}
                                <div class="col-sm-8">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.civilite) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.civilite, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.name)  }}
                                {{ form_errors(formEdit.name) }}
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.name) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.name, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.surname) }}
                                {{ form_errors(formEdit.surname) }}
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.surname) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.surname, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.viewName) }}
                                {{ form_errors(formEdit.viewName) }}
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.viewName) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.viewName, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.email) }}
                                {{ form_errors(formEdit.email) }}
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.email) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.email, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.mainPassword) }}
                                {{ form_errors(formEdit.mainPassword) }}
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.mainPassword) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.mainPassword, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" onclick="replaceT('form-edit');" class="btn btn-default" title="Voir Password">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" onclick="generatePassword('form-edit');" class="btn btn-default" title="Générer un Password">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.startDate) }}
                                {{ form_errors(formEdit.startDate) }}
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
                                        {{ form_widget(formEdit.startDate, {'attr': {'class' : 'form-control date font_exo_2', 'readonly': true,'disabled':'disabled' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.responsable) }}
                                {{ form_errors(formEdit.responsable) }}
                                <div class="col-sm-8">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-user-plus fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.responsable) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.responsable, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.statusPoste) }}
                                {{ form_errors(formEdit.statusPoste) }}
                                <div class="col-sm-8">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-adjust fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.statusPoste) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.statusPoste, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group predecesseurBlock">
                                {{ form_label(formEdit.predecesseur) }}
                                {{ form_errors(formEdit.predecesseur) }}
                                <div class="col-sm-8">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-user-plus fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.predecesseur) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.predecesseur, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.matriculeRH) }}
                                {{ form_errors(formEdit.matriculeRH) }}
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-barcode fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.matriculeRH) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.matriculeRH, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.entiteHolding) }}
                                {{ form_errors(formEdit.entiteHolding) }}
                                <div class="col-sm-8">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.entiteHolding) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.entiteHolding, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.agence) }}
                                {{ form_errors(formEdit.agence) }}
                                <div class="col-sm-8">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.agence) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.agence, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.service) }}
                                {{ form_errors(formEdit.service) }}
                                <div class="col-sm-8">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.service) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.service, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.fonction) }}
                                {{ form_errors(formEdit.fonction) }}
                                <div class="col-sm-8">
                                    <div class="input-group select2-bootstrap-prepend">
                                        <span class="input-group-addon"><i class="fa fa-support fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.fonction) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.fonction, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.commentaire) }}
                                {{ form_errors(formEdit.commentaire) }}
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-comment fa" aria-hidden="true"></i></span>
                                        {% if is_archived == "0" %}{{ form_widget(formEdit.commentaire) }}{% endif %}
                                        {% if is_archived != "0" %}{{ form_widget(formEdit.commentaire, {'attr': {'readonly': 'is_archived','disabled':'disabled' }}) }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            {{ form_row(formEdit.id) }}
                            {{ form_row(formEdit.idCandidat) }}
                            {{ form_row(formEdit.isCreateInGmail) }}
                            {{ form_row(formEdit.isCreateInOdigo) }}
                            {{ form_row(formEdit.isCreateInRobusto) }}
                            {{ form_row(formEdit.isCreateInSalesforce) }}
                            {{ form_row(formEdit.isCreateInWindows) }}
                            {{ form_rest(formEdit) }}
                        </div>
                        <div class="col-sm-6 font_exo_2">
                            <ul class="nav nav-pills navbar-right marginNegABitLeft" id="right-navbar">
                                <li role="presentation" id="gmailToggle" onclick="ajaxGenerateEmail();">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Gmail
                                    </a>
                                </li>
                                <li role="presentation" id="odigoToggle" onclick="ajaxGenerateOdigo();">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Odigo
                                    </a>
                                </li>
                                <li role="presentation" id="windowsToggle" onclick="ajaxGenerateWindows();">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Windows
                                    </a>
                                </li>
                                <li role="presentation" id="salesforceToggle" onclick="ajaxGenerateSalesforce();">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Salesf.
                                    </a>
                                </li>
                                <li role="presentation" id="aramisToggle" onclick="ajaxGenerateAramis();">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Aramis
                                    </a>
                                </li>
                                <li role="presentation" id="historyToggle" onclick="ajaxGenerateHistory();">
                                    <a href="#" class="pull-right" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
                                </li>
                            </ul>
                            <div class="container actionPart">
                                <div class="history hide" id="createActionHistoryPart"></div>
                                <div class="container hide col-sm-4 text-center" id="loading">
                                    <button type="button" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh spinning"></span> Loading...</button>
                                </div>
                                <div class="hide container-fluid" id="createActionOdigoPart">
                                </div>
                                <div class="hide container-fluid" id="createActionGmailPart">
                                    <div id="actionGmailList"></div>
                                    <div class="form-group font_exo_2" onclick="showhide();">
                                        <label class="font_exo_2 col-sm-8">
                                            <input class="col-sm-1" type="radio" id="otherMail" name="genEmail">Autre
                                        </label>
                                    </div>
                                    <div class="form-group font_exo_2">
                                        <div class="input-box hide actionPartInput" id="otherEmail">
                                            <input title="Autre Email" class="form-control font_exo_2 " autofocus="autofocus" type="text" name="autreEmail">
                                            <span class="unit">@aramisauto.com</span>
                                        </div>
                                    </div>
                                    <div class="form-group font_exo_2 col-sm-4 align_right">
                                        <input type="submit" class="form-control font_exo_2 btn btn-danger" onclick="ajaxCreateViaAPI();" name="sendaction" id="sendaction" value="Créer sur Gmail">
                                    </div>
                                </div>
                                <div class="hide container-fluid" id="createActionWindowsPart">
                                </div>
                                <div class="hide container-fluid" id="createActionSalesforcePart">
                                </div>
                                <div class="hide" id="createActionAramisPart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% if is_archived != "2" %}
                        <button type="button" class="btn btn-danger" onclick="ajaxSendEmailToSalarieAndInfoRecrut();">
                            <span class="glyphicon glyphicon-envelope"></span> Envoyer Infos aux Responsables
                        </button>
                        <button type="button" class="btn btn-info" onclick="ajaxSendEmailToSalarie();">
                            <span class="glyphicon glyphicon-envelope"></span> Envoyer Infos au Salarié
                        </button>
                        <button type="button" class="btn btn-warning" onclick="resetEditItem();" data-dismiss="modal" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-remove-circle"></span> Fermer
                        </button>
                        {% if is_granted("ROLE_ADMIN") %}
                            {% if is_archived == "1" %}
                                <input type="hidden" name="isArchived" value="1">
                                <input type="submit" class="btn btn-info" name="sendAction" value="Rétablir">
                            {% endif %}
                        {% endif %}
                        {% if is_archived == "0" %}
                            <button type="submit" class="btn btn-success" name="sendAction" value="Sauvegarder">
                                <span class="glyphicon glyphicon-floppy-save"></span> Sauvegarder
                            </button>
                        {% endif %}
                    {% endif %}
                </div >
            </div>
        </div>
    </form>
</div>




