{% extends 'AppBundle:Default:items.view.html.twig' %}
    {% block title %} Liste des Territoires Salesforce {% endblock %}
    {% block title2 %} Salesforce {% endblock %}
    {% block title3 %} Liste des Territoires {% endblock %}
    {% block breadcrumb %} Liste Territoires Salesforce {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Nom du Territoire</th>
        <th class="admin_cat_table_title">Id du Territoire</th>
        <th class="admin_cat_table_title">Territoire Parent</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.territoryId }}</td>
                <td class="admin_cat_table_cell">{{ item.territoryName }}</td>
                <td class="admin_cat_table_cell">{{ item.parentTerritoryId }}</td>
                <td class="admin_cat_table_cell_action">
                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Editer {{ alert_text }}" onclick="ajaxCoreEdit('{{ entity }}', this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                        <span class="glyphicon glyphicon-eye-open  btn-xs" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}

        {% embed "SalesforceApiBundle:SalesforceTerritory:view.body.html.twig"  %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}