<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('form_exec_edit_fonction') }}" method="post" class="form-horizontal" id="form-edit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font_exo_2" id="myModalLabel">Edition d'une fonction</h4>
                </div>
                <div class="modal-body">
                    <div class="container col-sm-12 text-center show" id="loading">
                        <button type="button" class="btn btn-lg btn-warning">
                            <span class="glyphicon glyphicon-refresh spinning"></span>
                            Loading...</button>
                    </div>
                    <div class="main_container hide" id="mainEditForm">
                        <input type="hidden" name="formAction" value="edit">
                        {{ form_errors(formEdit) }}
                        <div class="form-group">
                            {{ form_label(formEdit.name) }}
                            {{ form_errors(formEdit.name) }}
                            <div class="col-sm-8">
                                {{ form_widget(formEdit.name) }}
                            </div>
                        </div>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <div class="form-group">
                                {{ form_label(formEdit.shortName) }}
                                {{ form_errors(formEdit.shortName) }}
                                <div class="col-sm-8">
                                    {{ form_widget(formEdit.shortName) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInCompany) }}
                                {{ form_errors(formEdit.nameInCompany) }}
                                <div class="col-sm-8">
                                    {{ form_widget(formEdit.nameInCompany) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInOdigo) }}
                                {{ form_errors(formEdit.nameInOdigo) }}
                                <div class="col-sm-8">
                                    {{ form_widget(formEdit.nameInOdigo) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInSalesforce) }}
                                {{ form_errors(formEdit.nameInSalesforce) }}
                                <div class="col-sm-8">
                                    {{ form_widget(formEdit.nameInSalesforce) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEdit.nameInZendesk) }}
                                {{ form_errors(formEdit.nameInZendesk) }}
                                <div class="col-sm-8">
                                    {{ form_widget(formEdit.nameInZendesk) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label align_right font_exo_2" for="salesforce_service_cloud_acces">Service Cloud</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" class="form-control font_exo_2" name="salesforce[service_cloud_acces]" id="salesforce_service_cloud_acces">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="main_container hide" id="BottomEditForm">
                        {{ form_row(formEdit.id) }}
                        {{ form_widget(formEdit._token) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-success" name="sendAction" value="Sauvegarder">
                </div>
            </form>
        </div>
    </div>
</div>