<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="hide">
    <form action="http://robusto.aramisauto.com/s/index.php/login/" method="post" id="salesforce_form">
        <input type="hidden" id="username" name="username" value="{{ aramisInfos.robustoUserName }}"/>
        <input type="hidden" id="password" name="password" value="{{ myProfil.mainPassword }}"/>
        <input type="hidden" id="lecourbe" name="lecourbe" value="{{ lecourbeCode }}"/>
        <input type="submit" name="login" value="login"/>
    </form>
</div>
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/jquery/jquery-2.2.0.min.js') }}"></script>

</body>
<script>
    $(document).ready(function(){
        urlajax = "https://robusto.aramisauto.com/logout.php";
        $.ajax({
            url: urlajax, complete: function () {
                $("#salesforce_form").submit();
            }
        });
    });
</script>
</html>
