
    <form action="{{ path( 'add_candidat' ) }}" method="post" class="form-horizontal">
        <input type="hidden" name="formAction" value="add">
        {{ form_errors(formAdd) }}
        <div class="form-group">
            {{ form_label(formAdd.civilite) }}
            {{ form_errors(formAdd.civilite) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.civilite) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.name) }}
            {{ form_errors(formAdd.name) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.surname) }}
            {{ form_errors(formAdd.surname) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.surname) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.startDate) }}
            {{ form_errors(formAdd.startDate) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.startDate) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.responsable) }}
            {{ form_errors(formAdd.responsable) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.responsable) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.statusPoste) }}
            {{ form_errors(formAdd.statusPoste) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.statusPoste) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.predecesseur) }}
            {{ form_errors(formAdd.predecesseur) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.predecesseur) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.matriculeRH) }}
            {{ form_errors(formAdd.matriculeRH) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.matriculeRH) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.agence) }}
            {{ form_errors(formAdd.agence) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.agence) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.service) }}
            {{ form_errors(formAdd.service) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.service) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.fonction) }}
            {{ form_errors(formAdd.fonction) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.fonction) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formAdd.commentaire) }}
            {{ form_errors(formAdd.commentaire) }}
            <div class="col-sm-8">
                {{ form_widget(formAdd.commentaire) }}
            </div>
        </div>
        {{ form_row(formAdd.id) }}

</div>
<div class="modal-footer align_right">
    {{ form_row(formAdd.Envoyer) }}
</div>
</form>
