<div class="main_container">
    <form action="{{ path('add_candidat') }}" method="post" class="form-horizontal">
        {{ form_errors(formInfos) }}
        <div class="form-group">
            {{ form_label(formInfos.civilite) }}
            {{ form_errors(formInfos.civilite) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.civilite) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.name) }}
            {{ form_errors(formInfos.name) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.surname) }}
            {{ form_errors(formInfos.surname) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.surname) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.startDate) }}
            {{ form_errors(formInfos.startDate) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.startDate) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.responsable) }}
            {{ form_errors(formInfos.responsable) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.responsable) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.matriculeRH) }}
            {{ form_errors(formInfos.matriculeRH) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.matriculeRH) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.agence) }}
            {{ form_errors(formInfos.agence) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.agence) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.service) }}
            {{ form_errors(formInfos.service) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.service) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formInfos.fonction) }}
            {{ form_errors(formInfos.fonction) }}
            <div class="col-sm-8">
                {{ form_widget(formInfos.fonction) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 align_right">
                {{ form_row(formInfos.Envoyer) }}
            </div>
        </div>
        {{ form_row(formInfos.id) }}
    </form>
</div>
