{% extends '@Core/Default/items.view.html.twig' %}
    {% block title %} Liste des Candidats {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Nom Prénom</th>
        <th class="admin_cat_table_title">Date d'entrée</th>
        <th class="admin_cat_table_title">Agence</th>
        <th class="admin_cat_table_title">Service</th>
        <th class="admin_cat_table_title">Fonction</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for candidat in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ candidat.name }} {{ candidat.surname }}</td>
                <td class="admin_cat_table_cell">{{ candidat.startDate }}</td>
                <td class="admin_cat_table_cell">{{ candidat.agence }}</td>
                <td class="admin_cat_table_cell">{{ candidat.service }}</td>
                <td class="admin_cat_table_cell">{{ candidat.fonction }}</td>
                <td class="admin_cat_table_cell_action"><a href="{{ path('edit_candidat', { 'candidatEdit': candidat.id }) }}"><i class="fa fa-pencil-square-o"></i></a> <a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette Fonction ?'));" href="{{ path('remove_candidat', { 'candidatDelete': candidat.id }) }}"></i> <i class="fa fa-times"></i></a></td>
            </tr>
        {% endfor %}
    {% endblock %}