{% extends '@Core/Default/items.view.html.twig' %}
    {% block title %} Liste des Candidats{% if is_archived == "1" %} archivés{% endif %} {% endblock %}
    {% block breadcrumb %} Liste des Candidats{% if is_archived == "1" %} archivés{% endif %} {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Nom Prénom</th>
        <th class="admin_cat_table_title">Date d'entrée</th>
        <th class="admin_cat_table_title">Agence</th>
        <th class="admin_cat_table_title">Service</th>
        <th class="admin_cat_table_title">Fonction</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.name }} {{ item.surname }}</td>
                <td class="admin_cat_table_cell">{{ item.startDate.timestamp|date("m-d-Y") }}</td>
                <td class="admin_cat_table_cell">{{ item.agence }}</td>
                <td class="admin_cat_table_cell">{{ item.service }}</td>
                <td class="admin_cat_table_cell">{{ item.fonction }}</td>
                <td class="admin_cat_table_cell_action">
                    {% if is_archived != "2" %}
                        <button type="button" class="btn btn-default btn-xs font_exo_2" aria-label="Left Align" title="Editer {{ alert_text }}" onclick="ajaxCandidatEdit(this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                            <span class="glyphicon glyphicon-edit  btn-xs" aria-hidden="true"></span>
                        </button>
                    {% endif %}
                    {% if is_archived == "2" %}
                        <button type="button" class="btn btn-default btn-xs font_exo_2" aria-label="Left Align" title="Voir {{ alert_text }}" onclick="ajaxCandidatEdit(this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                            <span class="glyphicon glyphicon-eye-open  btn-xs" aria-hidden="true"></span>
                        </button>
                    {% endif %}
                    <input type='hidden' value='' id='ref_id_bouton'>
                    {% if is_archived == "0" %}
                        <a href="{{ path( remove_path , { 'itemDelete': item.id , 'isArchived' : item.isArchived}) }}"  title="Archiver {{ alert_text }}" data-confirm="Etes-vous certain de vouloir archiver {{ alert_text }} ?">
                            <button type="button" class="btn btn-default  btn-xs font_exo_2" aria-label="Left Align">
                                <span class="glyphicon glyphicon-remove  btn-xs" aria-hidden="true"></span>
                            </button>
                        </a>
                    {% endif %}
                    {% if is_archived == "1" %}
                        <a href="{{ path( remove_path , { 'itemDelete': item.id , 'isArchived' : item.isArchived}) }}"  title="Rétablir {{ alert_text }}" data-confirm="Etes-vous certain de vouloir rétablir {{ alert_text }} ?">
                            <button type="button" class="btn btn-default  btn-xs font_exo_2" aria-label="Left Align">
                                <span class="glyphicon glyphicon-refresh  btn-xs" aria-hidden="true"></span>
                            </button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}

        {% embed "CoreBundle:Candidat:add.body.html.twig"  %}
        {% endembed %}


        {% embed "CoreBundle:Candidat:edit.body.html.twig"  %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
