<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('form_exec_add_service') }}" method="post" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font_exo_2" id="myModalLabel">Ajout d'un service</h4>
                </div>
                <div class="modal-body">
                    <div class="main_container">
                        <input type="hidden" name="formAction" value="add">
                        {{ form_errors(formAdd) }}
                        <div class="form-group">
                            {{ form_label(formAdd.name) }}
                            {{ form_errors(formAdd.name) }}
                            <div class="col-sm-8">
                                {{ form_widget(formAdd.name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formAdd.shortName) }}
                            {{ form_errors(formAdd.shortName) }}
                            <div class="col-sm-8">
                                {{ form_widget(formAdd.shortName) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formAdd.parentAgence) }}
                            {{ form_errors(formAdd.parentAgence) }}
                            <div class="col-sm-8">
                                {{ form_widget(formAdd.parentAgence) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formAdd.nameInCompany) }}
                            {{ form_errors(formAdd.nameInCompany) }}
                            <div class="col-sm-8">
                                {{ form_widget(formAdd.nameInCompany) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formAdd.nameInOdigo) }}
                            {{ form_errors(formAdd.nameInOdigo) }}
                            <div class="col-sm-8">
                                {{ form_widget(formAdd.nameInOdigo) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formAdd.nameInSalesforce) }}
                            {{ form_errors(formAdd.nameInSalesforce) }}
                            <div class="col-sm-8">
                                {{ form_widget(formAdd.nameInSalesforce) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formAdd.nameInZendesk) }}
                            {{ form_errors(formAdd.nameInZendesk) }}
                            <div class="col-sm-8">
                                {{ form_widget(formAdd.nameInZendesk) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formAdd.nameInActiveDirectory) }}
                            {{ form_errors(formAdd.nameInActiveDirectory) }}
                            <div class="col-sm-8">
                                {{ form_widget(formAdd.nameInActiveDirectory) }}
                            </div>
                        </div>
                        {{ form_row(formAdd.id) }}
                        {{ form_rest(formAdd) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-success" onclick="submit();">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>