<div class="box box-primary dashboard_lastest_user">
    <div class="box-header with-border">
        <i class="fa fa-user-plus"></i>
        <h3 class="box-title font_exo_2">Derniers Comptes Créés</h3>
        <div class="box-tools pull-right">
            <span class="label label-danger">{% if countNewUser != 0 %}{{ countNewUser }} Nouveaux{% endif %}</span>
        </div>
    </div>
    <div class="box-body no-padding dashboard_lastest_user_box_body">
        <ul class="users-list clearfix">
            {% for user in lastest_members %}
                <li>
                    {% if user.civilite == "M" %}
                        <a class="users-list-name" href="#" name="{{ user.id }}" onclick="goToUserEdit(this.name);">
                            <img src="{{ asset('images/homme-' ~ random(2) ~ '.png') }}" alt="User Image">
                        </a>
                    {% elseif user.civilite == "Mlle" or user.civilite == "Mme" %}
                        <a class="users-list-name" href="#" name="{{ user.id }}" onclick="goToUserEdit(this.name);">
                            <img src="{{ asset('images/femme-' ~ random(1) ~ '.png') }}" alt="User Image">
                        </a>
                    {% endif %}
                    <a class="users-list-name" href="#" name="{{ user.id }}" onclick="goToUserEdit(this.name);">{{ user.viewName }}</a>
                    <span class="users-list-date">{{ user.startDate }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="box-footer text-center">
        <a href="{{ path('liste_des_utilisateurs') }}" class="uppercase">Voir tous les Utilisateurs</a>
    </div>
</div>