{% extends 'AppBundle:Default:items.view.html.twig' %}
    {% block title %} Liste des Profiles Salesforce {% endblock %}
    {% block title2 %} Salesforce {% endblock %}
    {% block title3 %} Liste des Profiles {% endblock %}
    {% block breadcrumb %} Liste Profiles Salesforce {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Nom du Profile</th>
        <th class="admin_cat_table_title">Id du Profile</th>
        <th class="admin_cat_table_title">License Id</th>
        <th class="admin_cat_table_title">Type d'Utilisateur</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.profileName }}</td>
                <td class="admin_cat_table_cell">{{ item.profileId }}</td>
                <td class="admin_cat_table_cell">{{ item.userLicenseId }}</td>
                <td class="admin_cat_table_cell">{{ item.userType }}</td>
                <td class="admin_cat_table_cell_action">
                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Voir {{ alert_text }}" onclick="ajaxCoreEdit('{{ entity }}', this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                        <span class="glyphicon glyphicon-eye-open  btn-xs" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}

        {% embed "SalesforceApiBundle:SalesforceProfile:view.body.html.twig"  %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}