{% extends '::base.html.twig' %}
    {% block stylesheets %}
        <link href="{{ asset('css/jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/dataTables.bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
    {% block mainform %}
        <br><br><br><br><br>
        {% block modal_form %}
        {% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="home-gauche list-group-item disabled admin_cat_title " data-href="#">{% block title %}{% endblock %}<button type="button" class="btn btn-primary btn-success pull-right font_exo_2" data-toggle="modal" data-target="#modalAdd" id="addForm"><i class="fa fa-plus"></i> Nouveau</button></div>
                    {% if message is defined %}
                        {% if message is not null %}
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class=" col-sm-8 corp-message-3">
                                    {% if code_message == 6669 %}
                                        <div class="form-group alert-success corp-message-1">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                    {% if code_message == 1 %}
                                        <div class="form-group alert-danger corp-message-1">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <table class="table table-striped" id="bootstrap-todo">
                        <thead>
                            <tr>
                                {% block corps_table_title %}

                                {% endblock %}
                                <th class="admin_cat_table_title">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                                {% block corps_table_cells %}

                                {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footform %}

    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script>
        function test($name){
                    $.ajax({
                        url:"{{ path ('edit_candidat') }}?editItem=".$name,
                        type:"POST",
                        success: function (response){
                            $('#testDiv').html(response);
                        }
                    });
        }
    </script>
    {#Fonction de generation des tables Jquery#}
    <script>
        $(document).ready(function(){
            $('.table-striped').DataTable({
                bFilter: false,
                bInfo: false,
                bLengthChange:false,
                "aoColumnDefs": [
                    { "bSortable": true, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [1] }
                ],
                "aaSorting": [[ 0, "asc" ]],
                "pageLength": 15,
                "language": {
                    "paginate": {
                        "previous": "Préc.",
                        "next": "Suiv."
                    }
                }
            });
        });
        </script>

    {#Fonction de generation du calendrier#}
        <script>
             $("form input.date").datepicker();
        </script>

    {#Fonction de chargement Ajax Form#}
        <script>
            function postForm( $form, callback ){
                var values = {};
                $.each( $form.serializeArray(), function(i, field) {
                    values[field.name] = field.value;
                });
                $.ajax({
                    type        : $form.attr( 'method' ),
                    url         : $form.attr( 'action' ),
                    data        : values,
                    success     : function(data) {
                        callback( data );
                    }
                });

            }
        </script>
    {#Appel à la fonction de chargement Ajax Form#}
        <script>
            $(document).ready(function(){
                var forms = [
                    '[ name="{{ formAdd.vars.full_name }}"]'
                ];
                $( forms.join(',') ).submit( function( e ){
                    e.preventDefault();
                    postForm( $(this), function( response ){
                    });
                    return false;
                });
            });
        </script>
    {#Fonction de confirmation personalisée bootstrap#}
    <script>
        $(function() {
            $('a[data-confirm]').click(function(ev) {
                var href = $(this).attr('href');

                if (!$('#dataConfirmModal').length) {
                    $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Merci de confirmer</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Non</button><a class="btn btn-danger" id="dataConfirmOK">Oui</a></div></div></div></div>');
                }
                $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
                $('#dataConfirmOK').attr('href', href);
                $('#dataConfirmModal').modal({show:true});

                return false;
            });
        });
    </script>

{% endblock %}