{% extends '::base.html.twig' %}
    {% block stylesheets %}
        <link href="{{ asset('css/jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/dataTables.bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-datepicker.min.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
    {% block mainform %}
        <br><br><br>
        {% block modal_form %}
        {% endblock %}
        <div class="container">
           <ol class="breadcrumb background_white">
                <li><a href="#">Home</a></li>
                <li class="active">{% block breadcrumb %} {% endblock %}</li>
           </ol>

            <div class="row">
                <div class="col-md-12">
                      <div class="home-gauche list-group-item disabled admin_cat_title " data-href="#">
                          {% block title %}{% endblock %}
                          <button type="button" class="btn btn-primary btn-success pull-right font_exo_2 marginABitABitLeft" data-toggle="modal" data-target="#modalAdd" id="addForm">
                              <i class="fa fa-plus"></i> Nouveau
                          </button>
                          {% if entity == 'odigo_tel_liste' or entity == 'orange_tel_liste' %}
                              <button type="button" class="btn btn-primary btn-info pull-right font_exo_2" data-toggle="modal" data-target="#modalAddViaFile" id="addForm">
                                  <i class="fa fa-plus"></i> Add Batch</button>
                          {% endif %}
                          {% if entity == 'salesforce_profile' %}
                              <button type="button" class="btn btn-warning pull-right font_exo_2 hide" id="waiting"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
                              <button type="button" class="btn btn-primary btn-info pull-right font_exo_2 show" id="reloadSfProfiles" onclick="reloadProfilesFromSf();">
                                  <i class="fa fa-plus"></i> Reload From Sf</button>
                          {% endif %}
                      </div>
                    {% if message is defined %}
                        {% if message is not null %}
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class=" col-sm-8 corp-message-3">
                                    {% if (code_message != 1) and (code_message != "") %}
                                        <div class="form-group alert-success corp-message-1">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                    {% if (code_message == 1) and (code_message != "") and (code_message != 6669) and (code_message != 6667) %}
                                        <div class="form-group alert-danger corp-message-1">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <table class="table table-striped" id="bootstrap-todo">
                        <thead>
                            <tr>
                                {% block corps_table_title %}

                                {% endblock %}
                                <th class="admin_cat_table_title">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                                {% block corps_table_cells %}

                                {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footform %}

    {% endblock %}
{% block javascripts %}
    {#Fonction de chargement Ajax Form#}
        <script>
            function postForm( $form, callback ){
                var values = {};
                $.each( $form.serializeArray(), function(i, field) {
                    values[field.name] = field.value;
                });
                $.ajax({
                    type        : $form.attr( 'method' ),
                    url         : $form.attr( 'action' ),
                    data        : values,
                    success     : function(data) {
                        callback( data );
                    }
                });
            }
        </script>
    {#Appel à la fonction de chargement Ajax Form#}
        <script>
            $(document).ready(function(){
                var forms = [
                    '[ name="{{ formAdd.vars.full_name }}"]'
                ];
                $( forms.join(',') ).submit( function( e ){
                    e.preventDefault();
                    postForm( $(this), function( response ){
                    });
                    return false;
                });
            });
        </script>
{% endblock %}
{% block javascriptsEnd %}
<script>
    $(document).ready(function(){
        $('#bootstrap-todo').DataTable({
            bFilter: false,
            bInfo: false,
            bLengthChange:false,
            "pageLength": 13,
            "language": {
                "paginate": {
                    "previous": "Préc.",
                    "next": "Suiv."
                }
            }
        });
    });
</script>
    {#Fonction de confirmation personalisée bootstrap#}
    <script>
        $(function() {
            $('a[data-confirm]').click(function(ev) {
                var href = $(this).attr('href');

                if (!$('#dataConfirmModal').length) {
                    $('body').append('<div id="dataConfirmModal" class="modal font_exo_2" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog font_exo_2"><div class="modal-content font_exo_2"><div class="modal-header font_exo_2"><button type="button" class="close font_exo_2" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Merci de confirmer</h3></div><div class="modal-body font_exo_2"></div><div class="modal-footer font_exo_2"><button class="btn btn-success font_exo_2" data-dismiss="modal" aria-hidden="true">Non</button><a class="btn btn-danger font_exo_2" id="dataConfirmOK">Oui</a></div></div></div></div>');
                }
                $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
                $('#dataConfirmOK').attr('href', href);
                $('#dataConfirmModal').modal({show:true});

                return false;
            });
        });
    </script>
    {% if is_archived == "0" %}
        <script>
            $('.datepicker').datepicker({
                format: "dd-mm-yyyy",
                startDate: "-7d",
                startView: 1,
                todayBtn: "linked",
                language: "fr",
                orientation: "auto right",
                daysOfWeekDisabled: "0,6",
                daysOfWeekHighlighted: "1,2,3,4,5",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });
        </script>
    {% endif %}
{% endblock %}