{% extends 'AppBundle:Default:items.view.html.twig' %}
    {% block title %} Liste des Groupes Google Gmail {% endblock %}
    {% block title2 %} Google Gmail {% endblock %}
    {% block title3 %} Liste des Groupes {% endblock %}
    {% block breadcrumb %} Liste Groupes Google Gmail {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Nom du Groupe</th>
        <th class="admin_cat_table_title">Email du Groupe</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.name }}</td>
                <td class="admin_cat_table_cell">{{ item.email }}</td>
                <td class="admin_cat_table_cell_action">
                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Editer {{ alert_text }}" onclick="ajaxGoogleGroupEdit(this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                        <span class="glyphicon glyphicon-edit  btn-xs" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}

        {% embed "GoogleApiBundle:GoogleGroup:edit.body.html.twig"  %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/google/group.js') }}"></script>
        <script src="{{ asset('js/select2/select2.full.js') }}"></script>
        <script src="{{ asset('js/select2/i18n/fr.js') }}"></script>
    {% endblock %}
{% block javascriptsEndofEnd %}
    <script>
        $(document).ready(function() {
            localStorage.setItem("currentFonctionIteration", '0');
            localStorage.setItem("currentServiceIteration", '0');
            localStorage.setItem("currentGlobalIteration", '0');
            var listeOfServicesOptions = '<option value="">Ajouter un Service</option>';
            urlajax = "/ajax/service/load/full_liste";
            $.ajax({
                url: urlajax, success: function (result) {
                    var i;
                    for (i in result) {
                        listeOfServicesOptions += '<option value="'+result[i].id+'">'+result[i].name+'</option>';
                    }
                    localStorage.setItem("listeOfServicesOptions", listeOfServicesOptions);
                }
            });
            var listeOfFonctionsOptions = '<option value="">Ajouter une fonction</option>';
            urlajax = "/ajax/fonction/load/full_liste";
            $.ajax({
                url: urlajax, success: function (result) {
                    var i;
                    for (i in result) {
                        listeOfFonctionsOptions += '<option value="'+result[i].id+'">'+result[i].name+'</option>';
                    }
                    localStorage.setItem("listeOfFonctionsOptions", listeOfFonctionsOptions);
                }
            });
        });
    </script>
{% endblock %}