{% extends 'AppBundle:Default:items.view.html.twig' %}
    {% block title %} Liste des Unités d'Organisation Active Directory {% endblock %}
    {% block breadcrumb %} Liste des Unités d'Organisation Active Directory {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Nom de l'OU</th>
        <th class="admin_cat_table_title">Dn de l'OU</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.name }}</td>
                <td class="admin_cat_table_cell">{{ item.dn }}</td>
                <td class="admin_cat_table_cell_action">
                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Voir {{ alert_text }}" onclick="ajaxCoreEdit('{{ entity }}', this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                        <span class="glyphicon glyphicon-eye-open  btn-xs" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}

        {% embed "ActiveDirectoryApiBundle:ActiveDirectoryOrganisationUnit:view.body.html.twig"  %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}